.footer{

    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 5vh;
    padding-top: 1rem; 
    padding-bottom: 1rem;
    font-weight: 100;

}
.categories{
    display: grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
}

.adress_block{
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 1rem;
    
}

.adress{
    display: inline;
    margin: 0;
}
.map__icon{
    display: inline-flex;
    justify-self: end;

}

.adress span{
    font-weight: 200;
}

.categories__item{
    margin-bottom: 1rem;
}

.footer__logo{
    font-size: 29px;
    margin-top: 0;
}

.grey_text{
    color: #333333;
}




.footer__col{
    margin-top: 44px;
}
.social_block{
    display: flex;
    justify-content: end;
 
}
.social__icon{
    margin-left:15px;
    grid-column: span 2;
}
